<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Vente en ligne Orinoco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details du produit | Orinoco</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <header class="bgc-element bgc-sizing">
        <nav>
            <a href="index.html" class="indexLogo"><img src="../img/orinoco.png" alt="Orinoco Accueil"
                    title="Accueil d'Orinoco" class="img-sizing" /></a>
            <button class="btn-sizing"><a href="cart.html" class="cartLink" title="Votre Panier">Panier</a></button>
        </nav>
    </header>

    <main>
        <h1 class="title-element">Details de l'appareil photo</h1>
        
        <div>
            <figure>
                <img src="" alt="" class="imgProduit" />
                <figcaption>
                    <h2 class="name"></h2>
                    <p class="description"></p>
                    <div class="select"><select class="modele"></select></div>
                    <span></span>
                    <input type="submit" value="Acheter" />
                </figcaption>
            </figure>
        </div>
    </main>

    <footer class="bgc-element bgc-sizing">
        <p class="copyright">OrinoCorp.</p>
    </footer>

    <script src="js/request.js"></script>
    <script src="js/index.js"></script>
</body>

</html>