body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: auto;
    height: auto;
    top: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: #333;
}

.img-sizing{
    height: 5rem;
}

.btn-sizing{
    height: 5rem;
    width: 8rem;
}

.bgc-element{
    background-color: #F3E9F1;
}

.bgc-sizing{
    height: 150px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

footer{
    margin: auto;
    height: auto;
    bottom: 0;

}

.copyright{
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.title-element{
    margin-top: 50px;
}

.order-btn {
    margin: 15px auto auto auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.center-form{
    width: 70%;
    margin: 50px auto 50px auto;
    padding: 5rem;
    border-radius: 1rem;
}

.confirm {
    background-color: #f3e9f1;
    margin: 2%;
    padding: 2%;
    border-radius: 1rem;
}

/* Cameras Card */

.camArticle{
    width: 550px;
    border-radius: 3rem;
    background-color: #F3E9F1;
    margin-bottom: 3rem;
    padding: 1rem;
}

.camImg{
    width: 550px;
    margin: auto;
    border-radius: 3rem;
}

.camName{
    font-weight: bold;
}

.camDescription{
    font-style: italic;
}

.camPrice{
    font-weight: 700;
}