/* GENERAL */

@font-face {
    font-family: 'Fanwood';
    src        : url('../fonts/Fanwood.otf') format("opentype");
}

* {
    margin     : 0;
    padding    : 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width     : 100%;
    box-sizing: border-box;
    background: #F4F6F7;
}

nav {
    display        : flex;
    justify-content: space-between;
    padding        : 2rem;
}

a {
    text-decoration: none;
    color          : #333;
}

main {
    min-height: 100vh;
}

footer {
    margin    : auto;
    height    : auto;
    bottom    : 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* GENERAL */


/*HEADER*/

.header {
    display              : grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas  : "logo h1 nav";
    align-items          : center;
    padding              : 5em;
}

.logo {
    grid-area: logo;
}

.navBar {
    grid-area: nav;
}

.header h1 {
    grid-area      : h1;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-family    : 'Fanwood';
    font-size      : 10em;
    color          : #FFF;
    text-shadow    : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navLinks {
    display      : inline-block;
    color        : #333;
    font-weight  : 400;
    margin-left  : 4rem;
    padding      : 1rem;
    background   : rgb(230, 138, 8);
    background   : linear-gradient(90deg, rgba(230, 138, 8, 1) 0%, rgba(143, 91, 254, 1) 100%);
    border-radius: 2.8rem;
    color        : #FFF;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.navLinks:hover {
    padding      : 1rem;
    border-radius: 2.8rem;
    color        : #FFF;
    transition   : transform .2s;
    transform    : scale(1.1)
}

/*HEADER*/


/* CARD*/

.mainContent {
    padding              : 8em 20em 20em 20em;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    gap                  : 5em 5em;
    grid-template-areas  :
        ". . ."
        ". . .";
}

.camArticle {
    position     : relative;
    width        : 100%;
    height       : 100%;
    border-radius: 3rem;
    background   : rgb(230, 138, 8);
    background   : linear-gradient(90deg, rgba(230, 138, 8, 1) 0%, rgba(143, 91, 254, 1) 100%);
    margin-bottom: 3rem;
    padding      : 1rem;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardContent {
    padding: 2em;
}

.camImg {
    width        : 100%;
    height       : 60%;
    margin       : auto;
    border-radius: 3rem;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.camName {
    font-weight: bold;
    color      : #333;
}

.camDescription {
    font-style: italic;
    color     : #333;
}

.camPrice {
    position     : absolute;
    margin       : 1em;
    bottom       : 1rem;
    left         : 1rem;
    font-weight  : 700;
    display      : inline-block;
    padding      : 1rem;
    background   : rgb(143, 91, 254);
    background   : linear-gradient(90deg, rgba(143, 91, 254, 1) 0%, rgba(230, 138, 8, 1) 100%);
    border-radius: 1em;
    color        : #FFF;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productBtn {
    position        : absolute;
    bottom          : 1rem;
    right           : 1rem;
    margin          : 1em;
    display         : inline-block;
    color           : #333;
    font-weight     : 400;
    margin-left     : 25em;
    padding         : 1rem;
    background-color: #333;
    border-radius   : 2.8rem;
    color           : #FFF;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productBtn:hover {
    transition: transform .2s;
    transform : scale(1.1)
}

/* CARD*/


/* PRODUCTS */

.mainProducts {
    display        : flex;
    justify-content: center;
    align-items    : center;
}


.camDetails {
    position     : relative;
    width        : 60em;
    height       : 65em;
    border-radius: 3rem;
    background   : rgb(230, 138, 8);
    background   : linear-gradient(90deg, rgba(230, 138, 8, 1) 0%, rgba(143, 91, 254, 1) 100%);
    margin-bottom: 3rem;
    padding      : 1rem;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.orderBtn {
    position        : absolute;
    bottom          : 1rem;
    right           : 1rem;
    margin          : 1em;
    display         : inline-block;
    color           : #333;
    font-weight     : 400;
    margin-left     : 25em;
    padding         : 1rem;
    background-color: #333;
    border-radius   : 2.8rem;
    color           : #FFF;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.orderBtn:hover {
    transition: transform .2s;
    transform : scale(1.1)
}

/* PRODUCTS */


/* FORM */

.order-btn {
    margin       : 15px auto auto auto;
    padding      : 15px;
    border-radius: 10px;
    text-align   : center;
    cursor       : pointer;
    background   : rgb(143, 91, 254);
    background   : linear-gradient(90deg, rgba(143, 91, 254, 1) 0%, rgba(230, 138, 8, 1) 100%);
}

.center-form {
    width        : 70%;
    margin       : 50px auto 50px auto;
    padding      : 5rem;
    border-radius: 1rem;
}

.confirm {
    background   : rgb(230, 138, 8);
    background   : linear-gradient(90deg, rgba(230, 138, 8, 1) 0%, rgba(143, 91, 254, 1) 100%);
    margin       : 2%;
    padding      : 2%;
    border-radius: 1rem;
}

.paymentMethods {
    margin-top     : 2em;
    display        : flex;
    justify-content: center;
    align-items    : baseline;
    color          : white;
}

.fab {
    margin-right: 1em;
}

/* FORM */




/*******/
.img-sizing {
    height: 5rem;
}

.btn-sizing {
    height: 5rem;
    width : 8rem;
}

.bgc-element {
    background: rgb(230, 138, 8);
    background: linear-gradient(90deg, rgba(230, 138, 8, 1) 0%, rgba(143, 91, 254, 1) 100%);
}

.bgc-sizing {
    height: 150px;
    width : 100%;
}

.copyright {
    display        : flex;
    justify-content: center;
    padding        : 2rem;
}

/*******/

.formLenses {
    padding: 2em;
}

label {
    font-size    : 1rem;
    padding-right: 10px;
    color        : #333;
}

select {
    font-size       : .9rem;
    padding         : 2px 5px;
    border-radius   : 1rem;
    color           : #F4F6F7;
    background-color: #333;
}

.nullDetail {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #333;
    font-size      : larger;
}

/* CART BOOTSRAP*/

* {
    margin                : 0;
    padding               : 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow   : rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow           : rgba(0, 0, 0, .01) 0 0 1px
}

body {
    font-family: 'Rubik', sans-serif;
    font-size  : 14px;
    font-weight: 400;
    background : #E0E0E0;
    color      : #000000
}

ul {
    list-style   : none;
    margin-bottom: 0px
}

.button {
    display           : inline-block;
    background        : #0e8ce4;
    border-radius     : 5px;
    height            : 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition   : all 200ms ease;
    -ms-transition    : all 200ms ease;
    -o-transition     : all 200ms ease;
    transition        : all 200ms ease
}

.button a {
    display      : block;
    font-size    : 18px;
    font-weight  : 400;
    line-height  : 48px;
    color        : #FFFFFF;
    padding-left : 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.cart_section {
    width         : 100%;
    padding-top   : 93px;
    padding-bottom: 111px
}

.cart_title {
    font-size  : 30px;
    font-weight: 500
}

.cart_items {
    margin-top: 8px
}

.cart_list {
    border          : solid 1px #e8e8e8;
    box-shadow      : 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.cart_item {
    width        : 100%;
    padding      : 15px;
    padding-right: 46px
}

.cart_item_image {
    width : 133px;
    height: 133px;
    float : left
}

.cart_item_image img {
    max-width: 100%
}

.cart_item_info {
    width      : calc(100% - 133px);
    float      : left;
    padding-top: 18px
}

.cart_item_name {
    margin-left: 7.53%
}

.cart_item_title {
    font-size  : 14px;
    font-weight: 400;
    color      : rgba(0, 0, 0, 0.5)
}

.cart_item_text {
    font-size : 18px;
    margin-top: 35px
}

.cart_item_text span {
    display          : inline-block;
    width            : 20px;
    height           : 20px;
    border-radius    : 50%;
    margin-right     : 11px;
    -webkit-transform: translateY(4px);
    -moz-transform   : translateY(4px);
    -ms-transform    : translateY(4px);
    -o-transform     : translateY(4px);
    transform        : translateY(4px)
}

.cart_item_price {
    text-align: right
}

.cart_item_total {
    text-align: right
}

.order_total {
    width           : 100%;
    height          : 60px;
    margin-top      : 30px;
    border          : solid 1px #e8e8e8;
    box-shadow      : 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right   : 46px;
    padding-left    : 15px;
    background-color: #fff
}

.order_total_title {
    display    : inline-block;
    font-size  : 14px;
    color      : rgba(0, 0, 0, 0.5);
    line-height: 60px
}

.order_total_amount {
    display    : inline-block;
    font-size  : 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}

.cart_buttons {
    margin-top: 60px;
    text-align: right
}

.cart_button_clear {
    display      : inline-block;
    border       : none;
    font-size    : 18px;
    font-weight  : 400;
    line-height  : 48px;
    color        : rgba(0, 0, 0, 0.5);
    background   : #FFFFFF;
    border       : solid 1px #b2b2b2;
    padding-left : 35px;
    padding-right: 35px;
    outline      : none;
    cursor       : pointer;
    margin-right : 26px
}

.cart_button_clear:hover {
    border-color: #0e8ce4;
    color       : #0e8ce4
}

.cart_button_checkout {
    display       : inline-block;
    border        : none;
    font-size     : 18px;
    font-weight   : 400;
    line-height   : 48px;
    color         : #FFFFFF;
    padding-left  : 35px;
    padding-right : 35px;
    outline       : none;
    cursor        : pointer;
    vertical-align: top
}

/* CART BOOTSRAP*/